.header{
    display: flex;
    justify-content: space-between;
    background-color: teal;
    color: white;
}
.footer{
    background-color: silver;
}
.container{
    margin: 0px;
}
*{
    margin: 0px ;
}
.menu{
    display:flex;
}
.menu li{
    list-style: none;
    margin: 5px;
}
.menu li a{
    text-decoration: none;
    color:white
}
.image{
    display:flex;
    justify-content: flex-end;
}
.box{   
     margin: 10px;   
     padding: 10px; 
     border: 1px gray solid; 
}
